*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
.wrapper{
  width: 100vw;
  background: linear-gradient(180deg, #1a1a2e, #16213e); /* Dark navy gradient */
  color: #ffffff;
  /* height: 100vh; */
}
.container{
  width: 90%;
  margin: 0 auto;
}
.main-container{
  width: 60%;
  margin: 0 auto;
}
.bp-meter{
  display: flex;
  width: 100%;
  height: 128px;
  border: 1px solid white;
  margin-bottom: 0.25rem;
}
.spo2-meter{
  display: flex;
  width: 100%;
  height: 128px;
  border: 1px solid white;
  margin-bottom: 0.25rem;
}
.pulse-meter{
  display: flex;
  width: 100%;
  height: 128px;
  border: 1px solid white;
  margin-bottom: 0.25rem;
}
.ecg-meter{
  display: flex;
  width: 100%;
  height: 128px;
  border: 1px solid white;
  margin-bottom: 0.25rem;
}
.cvp-meter{
  display: flex;
  width: 100%;
  height: 128px;
  border: 1px solid white;
  margin-bottom: 0.25rem;
}
.pap-meter{
  display: flex;
  width: 100%;
  height: 128px;
  border: 1px solid white;
  margin-bottom: 0.25rem;
}
.etco2-meter{
  display: flex;
  width: 100%;
  height: 128px;
  border: 1px solid white;
  margin-bottom: 0.25rem;
}
.rr-meter{
  display: flex;
  width: 100%;
  height: 128px;
  border: 1px solid white;
}
.canvas{
  flex: 3;
  /* background: #000; */
}
.graph-value{
  flex: 1;
  padding: 1rem;
  /* background: yellow; */
}
.heading{
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-align: center;
  font-weight: 300;
  margin-bottom: 1.50rem;
}
body::-webkit-scrollbar {
  display: none;
}
.real-time-value{
  font-size: 40px;
}